python-telegram-bot==22.8
google-genai==2.13.0
firebase-admin==7.5.0
google-cloud-firestore==2.27.0
requests==2.34.2
pypdf==6.14.2
python-dotenv==1.2.2
reportlab==5.0.0
arabic-reshaper==3.0.1
python-bidi==0.6.11
sendgrid==6.11.0